<?php

# To use this plugin, you have to create a Facebook api account to authenticate agains
# Do so by going to the Facebook developers page
#
# https://developers.facebook.com
#
define('FACEBOOK_APP_ID', 'your_id');
define('FACEBOOK_APP_SECRET', 'your_secret');
define ('FACEBOOK_LOGIN_URL', LOGIN_URL.'/facebook');

?>
